* {
    box-sizing: border-box;
}

body {
    background-color: #ffccde;
    font-size: 20px;
}

.container {
    width: 60%;
    margin: 0 auto;
    cursor: pointer;
}

.meme {
    padding-bottom: 1em;
    padding: 1em 0;
    border-top: #aaaaaa 0.1em solid;
}

.meme_img img{
    width: 60%;
    display: block;
	margin: 0 auto;
}

label {
    font-weight: 700;
}

input{
    display: none;
}

label {
    cursor: pointer;
}

/* .container:before {
    color: #aaa;
    content: none;
} */

label:before {
    content: '\2661';
    float: right;
}

/* label:hover {
    content: none;    
} */

input:checked + label:before {
    content: '\2764'; 
    transition: 0.5s; 
}

/* input:not(:checked) + label:before {
    content: '\2764';  
} */

/* input:checked + label + .meme_img {
    height: auto;
    margin-top: 1em;
}  */

.meme_img {
    margin-top: 1ex;
    display: none;
    /* opacity: 0; */
    /* transition: 0.5s; */
    /* position: absolute; */
}

.meme:hover .meme_img {
    display: block;
    /* opacity: 1; */
}

.memes {
    color: #aaa;    
}

.memes:hover {
    color: #000;
}



/*Responsive*/

/*992px - 1920px*/
@media screen and (max-width: 1180px) {
    body {
        font-size: 18px;
    }
}

/*768px - 992px*/
@media screen and (max-width: 1080px) {
    body {
        font-size: 14px;
    }
}

/*320px - 576px*/
@media screen and (max-width: 568px) {
    body {
        font-size: 10px;
    }
}